<div class="btn-group pull-right" style="margin-bottom:30px;">
	<!-- <select class="select2" style="width:150px;" id="dealIdList">

	</select> -->
	<button type="button" class="btn btn-fit-height grey-steel dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
	SELECT DEAL <i class="fa fa-angle-down"></i>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li>
			<a href="#"><select class="select2" style="width:350px;" id="accNameList"></select></a>
		</li>
		<li>
			<a href="#"><select class="select2" style="width:350px;" id="dealIdList"></select></a>
		</li>
	</ul>
</div>
<div class="clearfix"></div>

<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-chambray">
			<div class="visual">
				<i class="fa fa-eur"></i>
			</div>
			<div class="details">
				<div class="number" id="currentMargin">

				</div>
				<div class="desc">
					 Current Margin
				</div>
			</div>
			<a class="more view_more_deal">
			View more <i class="icon-arrow-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-chambray">
			<div class="visual">
				<i class="fa fa-dot-circle-o"></i>
			</div>
			<div class="details">
				<div class="number" id="projectedMargin"></div>
				<div class="desc">Projected Margin</div>
			</div>
			<a class="more view_more_deal">View more <i class="icon-arrow-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-chambray">
			<div class="visual">
				<i id="volume_bg_icon" class="icon-arrow-right"></i>
				<i class="volume_trend_icon" style="display:none;"></i>
			</div>
			<div class="details">
				<div class="number" id="volumeTrend"></div>
				<div class="desc">Volume Trend</div>
			</div>
			<a class="more view_more_trend">
			View more <i class="icon-arrow-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-chambray">
			<div class="visual">
				<i class="fa fa-signal"></i>
			</div>
			<div class="details">
				<div class="number" id="marginTrend">

				</div>
				<div class="desc">
					 Margin Trend
				</div>
			</div>
			<a class="more view_more_deal">
			View more <i class="icon-arrow-right"></i>
			</a>
		</div>
	</div>
</div>
<!-- END DASHBOARD STATS -->


<!-- Deal Table STATS -->
<div class="row" id="table_latout">
	<div class="col-md-12">
		<div class="row" >
			<div class="column sortable">
				<!-- BEGIN PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-list font-blue-hoki"></i><span class="caption-subject font-blue-hoki">Daily Margins -&nbsp;<span class="dealDetails-dealId"></span>&nbsp;-&nbsp;<span class="dealDetails-carrier"></span>&nbsp;<span class="dealDetails-startDate"></span>&nbsp; To &nbsp;<span class="dealDetails-endDate"></span></span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" id="Full_screen"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div id="Dealdetails_table_loading_margin">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>

						<div class="scroller" style="display:none;" data-always-visible="1" data-rail-visible="0" id="dealDetails-margin">
							<table class="table table-striped table-bordered table-hover" id="dealDashboar-table1-margin">
								<thead>
									<tr role="row" class="heading" id="dealDashboar-thead-margin">
									</tr>
								</thead>
								<tbody id="dealDashboar-body-margin"></tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->
				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty"></div>! -->
			</div>
		</div>
	</div>
</div>
<!-- End Table STATS -->

<!-- Volume Table STATS -->
<div class="row" id="table_layout_trend">
    <div class="col-md-12">
        <div class="row" >
            <div class="column sortable">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
							<i class="icon-list font-blue-hoki"></i><span class="caption-subject font-blue-hoki">Daily Volumes -&nbsp;<span class="volumeDetails-dealId"></span>&nbsp;-&nbsp;<span class="volumedealDetails-carrier"></span>&nbsp;<span class="volumedealDetails-startDate"></span>&nbsp; To &nbsp;<span class="volumedealDetails-endDate"></span></span>
						</div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" id="Full_screen_Trend"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="trend_table_loading">
                            <img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
                        </div>

                        <div class="scroller" style="height: 500px;display:none;" data-always-visible="1" data-rail-visible="0" id="Trend_Details">

                            <table class="table table-striped table-bordered table-hover" id="dealDashboar-table1-volume">
                                <thead>
                                    <tr role="row" class="heading" id="dealDashboar-thead-volume">
                                    </tr>
                                </thead>
                                <tbody id="dealDashboar-body-volume"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <!-- empty sortable porlet required for each columns! -->
                <!-- <div class="portlet portlet-sortable-empty"></div>! -->
            </div>
        </div>
	</div>
</div>
<!-- Volume Table End -->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="row" >
			<div class="col-md-6 col-md-6 ">
				<!-- BEGIN PORTLET-->
				<div class="portlet light bordered bg-inverse">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Volume And Revenue</span>
								<span class="caption-helper">last 6 months...</span>
						</div>
						<div class="actions">
							<div class="btn-group" data-toggle="buttons" id="VolumeANDRevenueChart_buttons">
								<!-- <label class="btn btn-sm btn-circle btn-default active">
								<input type="radio" name="options" class="toggle" id="VolumeANDRevenueChart_Volume">Month</label> -->
								<!-- <label class="btn btn-sm btn-circle btn-default align_left_btn">
								<input type="radio" name="options" class="toggle" id="VolumeANDRevenueChart_Revenue">Night</label> -->
								<!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a> -->
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
								<!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a> -->
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div id="VolumeANDRevenueChart_loading">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>
						<div id="VolumeANDRevenueChart_content" class="display-none">
							<div id="VolumeANDRevenueChart" class="chart"></div>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->

				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty"> -->
				<!-- </div> -->
			</div>

			<div class="col-md-6 col-md-6 ">
				<!-- BEGIN PORTLET-->
				<div class="portlet light bordered bg-inverse ">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-blue-hoki"></i>
							<span class="caption-subject font-blue-hoki">Fulfilment</span>
						</div>
						<div class="actions">
							<div class="btn-group" data-toggle="buttons" id="FulfilmentChart_buttons">
								<label class="btn btn-sm btn-circle btn-default active">
								<input type="radio" name="options" class="toggle" id="FulfilmentChart_IN">In</label>
								<label class="btn btn-sm btn-circle btn-default align_left_btn">
								<input type="radio" name="options" class="toggle" id="FulfilmentChart_OUT">Out</label>
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div id="FulfilmentChart_loading">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>
						<div id="FulfilmentChart_content" class="display-none">
							<div id="FulfilmentChart" class="chart">
							</div>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->

				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty"> -->
				<!-- </div> -->
			</div>
			<div class="col-md-6 col-md-6 ">
				<!-- BEGIN PORTLET-->
				<div class="portlet light bordered bg-inverse ">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-blue-hoki"></i>
							<span class="caption-subject font-blue-hoki">Margin Trend</span>
						</div>
						<div class="actions">
							<div class="btn-group" data-toggle="buttons" id="MarginTrendChart_buttons">
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div id="MarginTrendChart_loading">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>
						<div id="MarginTrendChart_content" class="display-none">
							<div id="MarginTrendChart" class="chart">
							</div>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->

				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty">
				</div> -->
			</div>

			<div class="col-md-6 col-md-6 ">
				<!-- BEGIN PORTLET-->
				<div class="portlet portlet-sortable light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-list font-blue-hoki"></i>
							<span class="caption-subject font-blue-hoki">Fulfilment Projection</span>
						</div>
						<div class="actions">
							<div class="btn-group" id="Projectionlist_buttons">
								<a class="btn btn-sm btn-default btn-circle dropdown-toggle align_left_btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								Filter By <i class="fa fa-angle-down"></i>
								</a>
								<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
									<label><input type="checkbox" value="IN" class="projection_list_btn" id="Projectionlist_in" />In</label>
									<label><input type="checkbox" value="OUT" class="projection_list_btn" id="Projectionlist_out" />Out</label>
								</div>
							</div>

							<!-- <div class="btn-group" data-toggle="buttons" id="Projectionlist_buttons">
								<label class="btn btn-sm btn-circle btn-default active">
								<input type="radio" name="options" class="toggle" id="Projectionlist_in">In</label>
								<label class="btn btn-sm btn-circle btn-default align_left_btn">
								<input type="radio" name="options" class="toggle" id="Projectionlist_out">Out</label>
								<label class="btn btn-sm btn-circle btn-default align_left_btn">
								<input type="radio" name="options" class="toggle" id="Projectionlist_all">All</label>
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
							</div> -->
						</div>
					</div>
					<div class="portlet-body">
						<div id="Fulfilment_Projection_list_loading">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>
						<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="projectionListContainer">

						</div>
					</div>
				</div>
				<!-- END PORTLET-->

				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty">
				</div> -->
			</div>
			<div class="col-md-12 col-md-12 ">
				<!-- BEGIN PORTLET-->
				<div class="portlet  light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-list font-blue-hoki"></i>
							<span class="caption-subject font-blue-hoki"><span style="float:left;">Deal Details</span> <span class="display_content_table"> -&nbsp;<span class="dealDetails-dealId"></span>&nbsp;-&nbsp;<span class="dealDetails-carrier"></span>&nbsp;<span class="dealDetails-startDate"></span>&nbsp; To &nbsp;<span class="dealDetails-endDate"></span></span></span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
						</div>

					</div>
					<div class="portlet-body">
						<div id="Dealdetails_table_loading">
							<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
						</div>
						<div class="row align_bottom">
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								Carrier: <span id="dealDetails-carrier"></span>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								Start date: <span id="dealDetails-startDate"></span>
							</div>
						</div>
						<div class="row align_bottom">
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								Deal ID: <span id="dealDetails-dealId"></span>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								End date: <span id="dealDetails-endDate"></span>
							</div>
						</div>
						<div class="row align_bottom align_top">
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								Currency: <span id="dealDetails-Currency"></span>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6 text-stat">
								Grace period: <span id="dealDetails-gracePeriod"></span>
							</div>
						</div>
						<div class="deal_dashborad_table_height" data-always-visible="1" data-rail-visible="0" id="dealDetails-tbl" style="height:auto !important;">
							<table class="table table-striped table-bordered table-hover" >
								<thead>
									<tr role="row" class="heading">
										<th width="25%">Destination</th>
										<th width="10%">Direction</th>
										<th width="10%">Tier</th>
										<th width="10%">Committed</th>
										<th width="10%">Rate</th>
		                                <th width="10%">Next rate</th>
		                                <th width="13%">Valid from</th>
		                                <th width="13%">Valid to</th>
									</tr>
								</thead>
								<tbody id="dealDashboar-body">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->

				<!-- empty sortable porlet required for each columns! -->
				<!-- <div class="portlet portlet-sortable-empty">
				</div> -->
			</div>
		</div>
	</div>
	</div>
</div>
<!-- END PAGE CONTENT-->