<h3 class="page-title">Dashboard</h3>

	<div class="btn-group pull-right" style="margin-bottom:30px;">
			<button type="button" class="btn btn-fit-height grey-steel dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			SELECT DEAL <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#"><select class="select2" style="width:350px;" id="accNameList"></select></a>
				</li>
				<li>
					<a href="#"><select class="select2" style="width:350px;" id="dealIdList"></select></a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>


	<!-- BEGIN DASHBOARD STATS -->
	<div class="row">


		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-chambray">
				<div class="visual">
					<i class="fa fa-globe"></i>
				</div>
				<div class="details">
					<div class="number" id="activeDeals">

					</div>
					<div class="desc">
						 Active Deals
					</div>
				</div>
				<a class="more view_more_deal">
				View more <i class="icon-arrow-right"></i>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-chambray">
				<div class="visual">
					<i class="fa fa-file-text"></i>
				</div>
				<div class="details">
					<div class="number" id="newDeals">

					</div>
					<div class="desc">
						 New Deals
					</div>
				</div>
				<a class="more view_more_deal">
				View more <i class="icon-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-chambray">
				<div class="visual">
					<i class="fa fa-bar-chart-o"></i>
				</div>
				<div class="details">
					<div class="number" id="volumeTrend">

					</div>
					<div class="desc">
						 Volume Trend
					</div>
				</div>
				<a class="more view_more_trend">
				View more <i class="icon-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-chambray">
				<div class="visual">
					<i class="fa fa-signal"></i>
				</div>
				<div class="details">
					<div class="number" id="marginTrend">

					</div>
					<div class="desc">
						 Margin Trend
					</div>
				</div>
				<a class="more view_more_trend">
				View more <i class="icon-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- END DASHBOARD STATS -->

	<!-- Deal Table STATS -->
	<div class="row" id="table_latout">
		<div class="col-md-12">
			<div class="row" >
				<div class="column sortable">
					<!-- BEGIN PORTLET-->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">New and active deals</span>
							</div>
							<div class="actions">
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" id="Full_screen"></a>
							</div>
						</div>
						<div class="portlet-body" style="height:90vh !important;">
							<div id="Dealdetails_table_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>

							<div class="scroller" style="height: 90vh !important; display:none;" data-always-visible="1" data-rail-visible="0" id="dealDetails-tbl">
								<div class="caption"><span class="caption">New Deals - Last Month</span></div>
								<table class="table table-striped table-bordered table-hover" id="dealDashboa-table1">
									<thead>
										<tr role="row" class="heading" id="dealDashboar-thead">
											<th>Carrier</th>
											<th>Deal ID</th>
											<th>Valid From</th>
											<th>Valid To</th>
											<th>Committed In</th>
											<th>Committed Out</th>
											<th>Total In</th>
											<th>Total Out</th>
											<th>Revenue In</th>
											<th>Revenue Out</th>
										</tr>
									</thead>
									<tbody id="dealDashboar-body"></tbody>
								</table>
								<div class="clearfix"></div>
								<div class="caption"><span class="caption">Currently Active Deals</span></div>
								<table class="table table-striped table-bordered table-hover" id="dealDashboa-table2">
									<thead>
										<tr role="row" class="heading" id="dealDashboar-thead-1">
											<th>Carrier</th>
											<th>Deal ID</th>
											<th>Valid From</th>
											<th>Valid To</th>
											<th>Committed In</th>
											<th>Committed Out</th>
											<th>Total In</th>
											<th>Total Out</th>
											<th>Revenue In</th>
											<th>Revenue Out</th>
										</tr>
									</thead>
									<tbody id="dealDashboar-body-1"></tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Table STATS -->

	<!-- Trend Table STATS -->
	<div class="row" id="table_layout_trend">
		<div class="col-md-12">
			<div class="row">
				<div class="column sortable">
					<!-- BEGIN PORTLET-->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Volume, Revenue and Margin</span>
							</div>
							<div class="actions">
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" id="Full_screen_Trend"></a>
							</div>
						</div>
						<div class="portlet-body" style="height:90vh !important;">
							<div id="trend_table_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>

							<div class="scroller" style="height: 90vh !important;display:none;" data-always-visible="1" data-rail-visible="0" id="Trend_Details">
								<div class="caption">Daily Volumes - Active Deals</div>
								<table class="table table-striped table-bordered table-hover" id="dealDashboar-volume-table">
									<thead>
										<tr role="row" class="heading" id="dealDashboar-thead-volume">
										</tr>
									</thead>
									<tbody id="dealDashboar-body-volume"></tbody>
								</table>
								<div class="caption">Daily Revenue - Active Deals</div>
								<table class="table table-striped table-bordered table-hover" id="dealDashboar-revenue-table">
									<thead>
										<tr role="row" class="heading" id="dealDashboar-thead-revenue">
										</tr>
									</thead>
									<tbody id="dealDashboar-body-revenue"></tbody>
								</table>
								<div class="caption">Daily Margin - Active Deals</div>
								<table class="table table-striped table-bordered table-hover" id="dealDashboar-margin-table">
									<thead>
										<tr role="row" class="heading" id="dealDashboar-thead-margin">
										</tr>
									</thead>
									<tbody id="dealDashboar-body-margin"></tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>
			</div>
		</div>
	</div>
	<!-- Trend Table End -->

	<!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="row" >
                <div class="col-md-6 col-md-6 ">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered bg-inverse layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Volume And Revenue</span>
								<span class="caption-helper">last 6 months...</span>
							</div>
                            <div class="actions">
                                <div class="btn-group" data-toggle="buttons" id="VolumeANDRevenueChart_buttons">
                                    <!-- <label class="btn btn-sm btn-circle btn-default active">
                                    <input type="radio" name="options" class="toggle" id="VolumeANDRevenueChart_Volume">Month</label> -->
                                    <!-- <label class="btn btn-sm btn-circle btn-default align_left_btn">
                                    <input type="radio" name="options" class="toggle" id="VolumeANDRevenueChart_Revenue">Night</label> -->
                                    <!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a> -->
                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
                                    <!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="VolumeANDRevenueChart_loading">
                                <img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
                            </div>
                            <div id="VolumeANDRevenueChart_content" class="display-none">
                                <div id="VolumeANDRevenueChart" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                    <!-- empty sortable porlet required for each columns! -->
                    <!-- <div class="portlet portlet-sortable-empty">
                    </div> -->
                </div>

                <div class="col-md-6 col-md-6 ">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered bg-inverse layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Deal Vs Non-Deal Traffic</span>
								<span class="caption-helper">last 6 months...</span>
							</div>
                            <div class="actions">
                                <div class="btn-group" data-toggle="buttons" id="FulfilmentChart_buttons">
                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="dealChart_loading">
                                <img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
                            </div>
                            <div id="dealChart_content" class="display-none">
                                <div id="dealChart" class="chart">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                    <!-- empty sortable porlet required for each columns! -->
                    <!-- <div class="portlet portlet-sortable-empty"></div>! -->
                </div>

                <div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet light bordered bg-inverse layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Margin Trend</span>
								<span class="caption-helper">last 6 months...</span>
							</div>
							<div class="actions">
								<div class="btn-group" data-toggle="buttons" id="MarginTrendChart_buttons">
									<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="MarginTrendChart_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div id="MarginTrendChart_content" class="display-none">
								<div id="MarginTrendChart" class="chart">
								</div>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->

					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty">
					</div> -->
				</div>

				<div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet light bordered layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Top Destinations</span>
								<span class="caption-helper">last 7 days...</span>
							</div>

							<div class="actions">
								<div class="btn-group" data-toggle="buttons" id="shortfalllist_buttons">
									<label class="btn btn-sm btn-circle btn-default topDestinations_options" data-value="MAR">
									<input type="radio" name="options" class="toggle" id="topDestinationsList_mar">Mar</label>
									<label class="btn btn-sm btn-circle btn-default align_left_btn topDestinations_options" data-value="REV">
									<input type="radio" name="options" class="toggle" id="topDestinationsList_rev">Rev</label>
									<label class="btn btn-sm btn-circle btn-default align_left_btn topDestinations_options active" data-value="VOL">
									<input type="radio" name="options" class="toggle" id="topDestinationsList_vol">Vol</label>
									<!-- <label class="btn btn-sm btn-circle btn-default align_left_btn shortfall  topDestinations_options" data-value="ALL" >
									<input type="radio" value="ALL" name="options" class="toggle shortfall_options" id="shortfall_all">All</label> -->

									<div class="btn-group" id="Shortfalllist_buttons_one">
										<a class="btn btn-sm btn-default btn-circle dropdown-toggle align_left_btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										Filter By <i class="fa fa-angle-down"></i>
										</a>
										<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
											<label><input type="checkbox" value="inShortfallDataList" class="TopDestiantionsOptions" id="TopDestiantionsOptions_in" />In</label>
											<label><input type="checkbox" value="outShortfallDataList" class="TopDestiantionsOptions" id="TopDestiantionsOptions_out" />Out</label>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="topDestinations_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="topDestinationsContainer">

							</div>
						</div>
					</div>
					<!-- END PORTLET-->

					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty">
					</div> -->
				</div>

				<div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet light bordered layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Shortfall Warning</span>
							</div>
							<div class="actions">
								<div class="btn-group" data-toggle="buttons" id="shortfalllist_buttons">
									<label class="btn btn-sm btn-circle btn-default shortfall" data-value="PER">
									<input type="radio" value="PER" name="options" class="toggle shortfall_options" id="shortfall_per">%</label>
									<label class="btn btn-sm btn-circle btn-default align_left_btn shortfall active" data-value="VOL">
									<input type="radio" value="VOL" name="options" class="toggle shortfall_options" id="shortfall_vol">Vol</label>
									<!-- <label class="btn btn-sm btn-circle btn-default align_left_btn shortfall" data-value="ALL" >
									<input type="radio" value="ALL" name="options" class="toggle shortfall_options" id="shortfall_all">All</label> -->

									<div class="btn-group" id="Shortfalllist_buttons_one">
										<a class="btn btn-sm btn-default btn-circle dropdown-toggle align_left_btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										Filter By <i class="fa fa-angle-down"></i>
										</a>
										<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
											<label><input type="checkbox" value="inShortfallDataList" class="ShortfallwarningOptions" id="ShortfallwarningOptions_in" />In</label>
											<label><input type="checkbox" value="outShortfallDataList" class="ShortfallwarningOptions" id="ShortfallwarningOptions_out" />Out</label>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="shortfall_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="shortFallListContainer">

							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>

				<div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet  light bordered layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Changes in Traffic</span>
								<span class="caption-helper">last 7 days...</span>
							</div>
							<div class="actions">
								<div class="btn-group" id="ChanegsTrafficlist_buttons">
									<a class="btn btn-sm btn-default btn-circle dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Filter By <i class="fa fa-angle-down"></i>
									</a>
									<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
										<label><input type="checkbox" value="IN" class="ChangeTrafficOptions" id="ChangeTrafficOptions_in" />In</label>
										<label><input type="checkbox" value="OUT" class="ChangeTrafficOptions" id="ChangeTrafficOptions_out" />Out</label>
									</div>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="Changes_traffic_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="changesTrafficListContainer">

							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>

				<div class="clearfix"></div>

				<div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet  light bordered layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Recent Activity</span>
							</div>
							<div class="actions">
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-default btn-circle dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Filter By <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right" id="drop_down_recent_activity">
										<li>
											<a href="javascript:;" id="regional_stat_world" class="RecentActivityOptions" data-recent-value="ALL">
											All </a>
										</li>

									</ul>
								</div>
								<!-- <div class="btn-group" id="RecentActivitylist_buttons">
									<a class="btn btn-sm btn-default btn-circle dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Filter By <i class="fa fa-angle-down"></i>
									</a>
									<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right" id="RecentActivityFilter">
										<label><input type="checkbox" value="IN" class="RecentActivityOptions" id="RecentActivityOptions_in" />In</label>
										<label><input type="checkbox" value="OUT" class="RecentActivityOptions" id="RecentActivityOptions_out" />Out</label>
									</div>
								</div> -->
							</div>
						</div>
						<div class="portlet-body">
							<div id="recentActivity_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="recentactivityListContainer">

							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>

				<div class="col-md-6 col-md-6 ">
					<!-- BEGIN PORTLET-->
					<div class="portlet  light bordered layout_height">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-list font-blue-hoki"></i>
								<span class="caption-subject font-blue-hoki">Deals Expiring</span>
								<span class="caption-helper">within 2 months...</span>
							</div>
						</div>
						<div class="portlet-body">
							<div id="dealsExpiring_loading">
								<img src="theme/assets/admin/layout/img/loading.gif" alt="loading"/>
							</div>
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="dealsExpiringListContainer">

							</div>
						</div>
					</div>
					<!-- END PORTLET-->
					<!-- empty sortable porlet required for each columns! -->
					<!-- <div class="portlet portlet-sortable-empty"></div>! -->
				</div>

			</div>
		</div>
	</div>
