$sign-main: #e87e04;
$sign-secondary: #2f353b;
$sign-background: #f7f7f7;
//$sign-background: #f3f0eb;
$sign-background: #f3f4f8;
$sign-background: #f8f7f3;

$black: #000;
$white: #fff;
$red: #c2391e;
$orange: $sign-main;
$yellow: #fff0a5;
$green: #129a62;

$font-family: 'Varela Round', sans-serif;
