/* Signature (compiled SCSS) */
body {
  font-family: "Varela Round", sans-serif; }
  body .page-content-wrapper .page-content {
    background-color: #f8f7f3 !important; }

.page-footer {
  padding: 15px 30px;
  background-color: #e2e2e2 !important;
  height: auto; }

.overlay-footer {
  padding: 15px 30px;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  background-color: #e2e2e2; }
  .overlay-footer .footer-group {
    display: inline-block;
    margin-right: 7%; }
    .overlay-footer .footer-group .heading {
      display: block;
      line-height: 16px; }
    .overlay-footer .footer-group .content {
      font-size: 20px;
      line-height: 20px; }
      .overlay-footer .footer-group .content.high {
        color: #c2391e; }
      .overlay-footer .footer-group .content.medium {
        color: #e87e04; }
      .overlay-footer .footer-group .content.low {
        color: #129a62; }
    .overlay-footer .footer-group:last-child {
      margin-right: 0; }
    .overlay-footer .footer-group.risk {
      margin-left: 22%; }
    .overlay-footer .footer-group.margin-total {
      font-weight: 900; }
  .overlay-footer .action {
    float: right;
    padding-top: 2px; }
    .overlay-footer .action .last-saved {
      font-style: italic;
      color: #767676; }
    .overlay-footer .action .btn {
      margin-left: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif; }

.bootstrap-select .dropdown-menu li.selected a span {
  color: #e87e04; }
  .bootstrap-select .dropdown-menu li.selected a span small.text-muted {
    color: #e87e04 !important; }

.portlet,
.dashboard-stat {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

.btn {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important; }
  .btn.sign {
    background-color: #e87e04;
    color: #fff; }
    .btn.sign.secondary {
      background-color: #2f353b; }

.form-group .btn:last-child {
  float: right; }

.label {
  font-family: "Varela Round", sans-serif;
  padding: 3px 10px 4px 10px; }
  .label.label-success {
    background-color: #129a62; }

table.dataTable thead th {
  padding: 8px 10px; }
table.dataTable.stripe tbody tr.odd,
table.dataTable.stripe tbody tr.odd td.sorting_1,
table.dataTable.stripe tbody tr.odd td.sorting_2,
table.dataTable.stripe tbody tr.odd td.sorting_3,
table.dataTable.stripe tbody tr.odd td.sorting_4 {
  background-color: #fff; }
table.dataTable.stripe tbody tr.even {
  background-color: #fff; }
table.dataTable.stripe tbody tr.group {
  background-color: #ebebeb; }
  table.dataTable.stripe tbody tr.group td {
    font-weight: bold; }
    table.dataTable.stripe tbody tr.group td .rename-dg {
      margin-left: 4px; }
      table.dataTable.stripe tbody tr.group td .rename-dg:hover {
        cursor: pointer; }

.table-controls {
  margin-bottom: 20px; }
  .table-controls button {
    margin-right: 10px; }

.ui-grid .ui-grid-top-panel {
  background: #ebebeb; }

@-webkit-keyframes flash {
  0% {
    background-color: #fff0a5; }
  20% {
    background-color: #fff0a5; }
  100% {
    background-color: none; } }
.page-make-deal {
  /* NEW (TO KEEP EVEN AFTER MERGING SOME OF THE STYLING TO ALL PAGES) */
  /* OLD (SOME OF THIS SHOULD BE MERGED TO STYLE ALL PAGES) */ }
  .page-make-deal input[type='number'] {
    -moz-appearance: textfield; }
  .page-make-deal input::-webkit-outer-spin-button,
  .page-make-deal input::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .page-make-deal .bold {
    font-weight: 900 !important; }
  .page-make-deal .page-content {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #f8f7f3; }
  .page-make-deal .page-container {
    margin-bottom: 40px !important; }
  .page-make-deal .page-title {
    margin-top: 10px;
    margin-bottom: 25px; }
  .page-make-deal .page-header.navbar {
    height: 60px;
    /*@media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .page-logo {
          background-image: url('../images/logo@2x.png');
          background-size: 152px 48px;
        }
    }*/ }
    .page-make-deal .page-header.navbar .page-logo {
      height: 60px;
      width: 236px;
      padding-left: 30px; }
      .page-make-deal .page-header.navbar .page-logo a {
        line-height: 60px; }
        .page-make-deal .page-header.navbar .page-logo a img {
          margin-top: 0 !important; }
    .page-make-deal .page-header.navbar .hor-menu {
      height: 60px; }
      .page-make-deal .page-header.navbar .hor-menu ul.nav.navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 60px; }
      .page-make-deal .page-header.navbar .hor-menu ul.nav.navbar-nav > li.active > a {
        background-color: #e87e04 !important; }
      .page-make-deal .page-header.navbar .hor-menu ul.nav.navbar-nav > li.active .selected {
        border-top: 0;
        border-top-color: #e87e04; }
    .page-make-deal .page-header.navbar .top-menu li.dropdown {
      height: 60px; }
      .page-make-deal .page-header.navbar .top-menu li.dropdown a.dropdown-toggle {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        line-height: 60px !important; }
      .page-make-deal .page-header.navbar .top-menu li.dropdown.dropdown-notification > a i {
        top: 4px; }
      .page-make-deal .page-header.navbar .top-menu li.dropdown.dropdown-user a img {
        margin-top: 15px;
        margin-right: 10px; }
      .page-make-deal .page-header.navbar .top-menu li.dropdown.dropdown-quick-sidebar-toggler {
        display: none; }
  .page-make-deal .select2-selection,
  .page-make-deal input,
  .page-make-deal .bootstrap-select .btn {
    border-color: #e2e2e2; }
  .page-make-deal .select-grace-period {
    list-style: none;
    padding-left: 0; }
    .page-make-deal .select-grace-period li {
      display: inline-block;
      padding: 7px 12px;
      margin-right: 4px;
      margin-bottom: 6px;
      background-color: #f0f0f0;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
      .page-make-deal .select-grace-period li:last-child {
        margin-right: 0; }
      .page-make-deal .select-grace-period li.active, .page-make-deal .select-grace-period li.active.custom input {
        background-color: #2f353b;
        color: #fff; }
      .page-make-deal .select-grace-period li:hover {
        cursor: pointer; }
        .page-make-deal .select-grace-period li:hover:not(.active), .page-make-deal .select-grace-period li:hover.custom:not(.active) input {
          background-color: #e5e5e5; }
      .page-make-deal .select-grace-period li.custom {
        /*&.active {
          input {
            color: $white;
            background-color: $sign-secondary;
          }
        }*/ }
        .page-make-deal .select-grace-period li.custom input {
          background-color: #f0f0f0;
          border: 0;
          outline: none;
          width: 33px; }
          .page-make-deal .select-grace-period li.custom input::-webkit-input-placeholder {
            color: #34495e; }
          .page-make-deal .select-grace-period li.custom input:-moz-placeholder {
            /* Firefox 18- */
            color: #34495e; }
          .page-make-deal .select-grace-period li.custom input::-moz-placeholder {
            /* Firefox 19+ */
            color: #34495e; }
          .page-make-deal .select-grace-period li.custom input:-ms-input-placeholder {
            color: #34495e; }
        .page-make-deal .select-grace-period li.custom.active input::-webkit-input-placeholder {
          color: red; }
        .page-make-deal .select-grace-period li.custom.active input:-moz-placeholder {
          /* Firefox 18- */
          color: red; }
        .page-make-deal .select-grace-period li.custom.active input::-moz-placeholder {
          /* Firefox 19+ */
          color: red; }
        .page-make-deal .select-grace-period li.custom.active input:-ms-input-placeholder {
          color: red; }
  .page-make-deal .portlet .portlet-title {
    font-weight: 700; }
    .page-make-deal .portlet .portlet-title i {
      margin-right: 8px; }
  .page-make-deal .portlet.light.bordered {
    border: 1px solid #e2e2e2 !important; }
    .page-make-deal .portlet.light.bordered > .portlet-title {
      border-bottom: 1px solid #e2e2e2; }
  .page-make-deal .change-destination-group {
    margin-top: 20px; }
    .page-make-deal .change-destination-group #change-dg-btn {
      float: none;
      margin-left: 10px; }
  .page-make-deal .deal-destinations button.btn {
    margin-top: -34px; }

/*
 * Don't modify things marked with ! - unless you know what you're doing
 */
/* ! vertical layout */
.multiSelect .vertical {
  float: none; }

/* ! horizontal layout */
.multiSelect .horizontal:not(.multiSelectGroup) {
  float: left; }

/* ! create a "row" */
.multiSelect .line {
  padding: 2px 0px 4px 0px;
  max-height: 30px;
  overflow: hidden;
  box-sizing: content-box; }

/* ! create a "column" */
.multiSelect .acol {
  display: inline-block;
  min-width: 12px; }

/* ! */
.multiSelect .inlineBlock {
  display: inline-block; }

/* the multiselect button */
.multiSelect > button {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 1px 8px 1px 8px;
  font-size: 14px;
  min-height: 38px !important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: #fff;
  background-image: linear-gradient(#fff, #f7f7f7); }

/* button: hover */
.multiSelect > button:hover {
  background-image: linear-gradient(#fff, #e9e9e9); }

/* button: disabled */
.multiSelect > button:disabled {
  background-image: linear-gradient(#fff, #fff);
  border: 1px solid #ddd;
  color: #999; }

/* button: clicked */
.multiSelect .buttonClicked {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

/* labels on the button */
.multiSelect .buttonLabel {
  display: inline-block;
  padding: 5px 0px 5px 0px; }

/* downward pointing arrow */
.multiSelect .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0px 0px 1px 12px  !important;
  vertical-align: middle;
  border-top: 4px solid #333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted; }

/* the main checkboxes and helper layer */
.multiSelect .checkboxLayer {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 278px;
  display: none !important; }

/* container of helper elements */
.multiSelect .helperContainer {
  border-bottom: 1px solid #ddd;
  padding: 8px 8px 0px 8px; }

/* helper buttons (select all, none, reset); */
.multiSelect .helperButton {
  display: inline;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 26px;
  font-size: 13px;
  border-radius: 2px;
  color: #666;
  background-color: #f1f1f1;
  line-height: 1.6;
  margin: 0px 0px 8px 0px; }

.multiSelect .helperButton.reset {
  float: right; }

.multiSelect .helperButton:not(.reset) {
  margin-right: 4px; }

/* clear button */
.multiSelect .clearButton {
  position: absolute;
  display: inline;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 22px;
  width: 22px;
  font-size: 13px;
  border-radius: 2px;
  color: #666;
  background-color: #f1f1f1;
  line-height: 1.4;
  right: 2px;
  top: 4px; }

/* filter */
.multiSelect .inputFilter {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 26px;
  font-size: 14px;
  width: 100%;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #888;
  margin: 0px 0px 8px 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* helper elements on hover & focus */
.multiSelect .clearButton:hover,
.multiSelect .helperButton:hover {
  border: 1px solid #ccc;
  color: #999;
  background-color: #f4f4f4; }

.multiSelect .helperButton:disabled {
  color: #ccc;
  border: 1px solid #ddd; }

.multiSelect .clearButton:focus,
.multiSelect .helperButton:focus,
.multiSelect .inputFilter:focus {
  border: 1px solid #66AFE9 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.065), 0 0 5px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.065), 0 0 5px rgba(102, 175, 233, 0.6) !important; }

/* container of multi select items */
.multiSelect .checkBoxContainer {
  display: block;
  padding: 8px;
  overflow: hidden; }

/* ! to show / hide the checkbox layer above */
.multiSelect .show {
  display: block !important; }

/* item labels */
.multiSelect .multiSelectItem {
  display: block;
  padding: 3px;
  color: #444;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  position: relative;
  min-width: 278px;
  min-height: 32px; }

/* Styling on selected items */
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
  background-image: linear-gradient(#e9e9e9, #f1f1f1);
  color: #555;
  cursor: pointer;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #d9d9d9; }

.multiSelect .multiSelectItem .acol label {
  display: inline-block;
  padding-right: 30px;
  margin: 0px;
  font-weight: normal;
  line-height: normal; }

/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
  background-image: linear-gradient(#c1c1c1, #999) !important;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #ccc !important; }

/* item labels focus using keyboard */
.multiSelect .multiSelectFocus {
  background-image: linear-gradient(#c1c1c1, #999) !important;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #ccc !important; }

/* change mouse pointer into the pointing finger */
.multiSelect .multiSelectItem span:hover,
.multiSelect .multiSelectGroup span:hover {
  cursor: pointer; }

/* ! group labels */
.multiSelect .multiSelectGroup {
  display: block;
  clear: both; }

/* right-align the tick mark (&#10004;) */
.multiSelect .tickMark {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 10px; }

/* hide the original HTML checkbox away */
.multiSelect .checkbox {
  color: #ddd !important;
  position: absolute;
  left: -9999px;
  cursor: pointer; }

/* checkboxes currently disabled */
.multiSelect .disabled,
.multiSelect .disabled:hover,
.multiSelect .disabled label input:hover ~ span {
  color: #c4c4c4 !important;
  cursor: not-allowed !important; }

/* If you use images in button / checkbox label, you might want to change the image style here. */
.multiSelect img {
  vertical-align: middle;
  margin-bottom: 0px;
  max-height: 22px;
  max-width: 22px; }

.isteven-multi-select.autoselectflash button, .isteven-multi-select.currencyautoselectedflash button {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out; }

/* the multiselect button */
.multiSelect > button {
  text-align: left;
  border: 1px solid #e2e2e2;
  width: 100%;
  background-image: none;
  padding-top: 1px;
  padding-bottom: 0;
  min-height: 34px !important;
  line-height: 16px; }
  .deal-destinations .multiSelect > button {
    width: 80%; }

/* button: hover */
.multiSelect > button:hover {
  background-image: none;
  background-color: #f0f0f0; }

/* downward pointing arrow */
.multiSelect .caret {
  position: absolute;
  top: 15px;
  right: 10px; }

/* the main checkboxes and helper layer */
.multiSelect .checkboxLayer {
  width: 100%; }

/* container of helper elements */
.multiSelect .helperContainer {
  padding: 8px; }

/* filter */
.multiSelect .inputFilter {
  height: 32px;
  margin-bottom: 0; }

/* clear button */
.multiSelect .clearButton {
  display: none; }

/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
  background-image: none !important;
  background-color: #f0f0f0;
  color: #000 !important;
  cursor: pointer;
  border: 1px solid #fff !important; }

/* Styling on selected items */
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
  background-image: none;
  background-color: #f0f0f0;
  color: #e87e04 !important;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }

/* ! create a "column" */
.multiSelect .acol {
  line-height: 30px;
  margin-left: 8px; }

/* container of multi select items */
.multiSelect .checkBoxContainer {
  padding-left: 0;
  padding-right: 0;
  max-height: 330px;
  overflow-y: scroll !important; }

/* right-align the tick mark (&#10004;) */
.multiSelect .tickMark {
  display: none; }

/*# sourceMappingURL=sign.css.map */
